{% extends 'base.html.twig' %}

{% block title %}Ajouter un employé
{% endblock %}

{% block body %}

	{% if employe is not defined %}
		<h1 class="text-center my-4">Ajout d'un nouvel employé</h1>
	{% else %}
		<h1 class="text-center my-4">Modifier l'employé
			{{ employe.firstname }}
			{{ employe.lastname }}</h1>
	{% endif %}

	<div class="row">
		<div class="col-8 mx-auto mb-4">
			{# Pour afficher un formulaire avec Twig, appelez la fonction form(nom_du_form) et renseignez le nom du formulaire à afficher #}

			{# Symfony implémente par défaut un theme bootstrap 5 pour les formulaire. #}
			{# 1ère façon d'afficher un formulaire Twig #}
			{# {{ form(form_employe) }} #}

			{# 2de façon d'afficher un formulaire Twig #}
			{# Pour désactiver le validateur HTML coté-client (navigateur) on peut le faire 
            dans EmployeFormType ('submit') OU dans le form_start en second argument comme suit: 
			{'attr': { novalidate:'novalidate'}} }
			#}	
			{{ form_start(form_employe) }}

			{{ form_row(form_employe.firstname) }}
			{{ form_row(form_employe.lastname) }}

				<div class="row"> 
                <div class="col-6">{{ form_row(form_employe.service) }}</div>
				<div class="col-6">{{ form_row(form_employe.salary) }}</div>
			</div>

			{#  COMPOSITION D'UNE FORM_ROW() #}
			{#                {{ form_label(form_employe.gender) }}#}
			{#                {{ form_errors(form_employe.gender) }}#}
			{#                {{ form_widget(form_employe.gender) }}#}
			{#                {{ form_help(form_employe.gender) }}#}
			{# Vous devrez afficher tous les éléments de form_row, sans quoi vos éléments seront rendus une seconde fois #}
			{{ form_row(form_employe.gender) }}
			
    		<div class="col-6">{{ form_row(form_employe.entryAt) }}</div>
			
			{{ form_end(form_employe) }}

		</div>
</div>
{% endblock %}

{# Si vous n'affichez pas toutes les form_row, 
la fonction form_end() les rendra quoi qu'il arrive. #}
